.header {
  background-color: #17202A;
  height: 3cm;
}
.header1 {
  color:  white;
  margin-left: 10cm;
  font-weight: bold;
  font-size: 1.5cm;
}
.line1{
  margin-top: 3cm;
  margin-left: 10cm;
  margin-right: 10cm;
  color: black;
  border-style: solid;
  height: 50px;
  border-width: 2px;
  border-radius: 25px;
}
.line2{
  margin-top: 2.5cm;
  margin-left: 10cm;
  margin-right: 10cm;
  color: black;
  border-style: solid;
  height: 50px;
  border-width: 2px;
  border-radius: 25px;
}
.intro {
  font-size: 0.8cm;
  margin-top: 20px;
  margin-left: 10cm;
}
.form1 {
  margin-top: 50px;
  margin-left: 7cm;
  margin-right: 7cm;
}
input {
  width: 100%;
  border-radius: 25px;
  height: 30px;
}
#name {
  margin-top: 20px;
}
#cause {
  margin-top: 20px;
}
#size {
  margin-top: 20px;
}
