.header {
  background-color: #17202A;
  height: 3cm;
}
.header1 {
  color:  white;
  margin-left: 12cm;
  font-weight: bold;
  font-size: 1.5cm;
  font-family: serif;
  letter-spacing: 3px;
}
.line1{
  margin-top: 1cm;
  margin-left: 10cm;
  margin-right: 10cm;
  color: black;
  border-style: solid;
  height: 50px;
  border-width: 2px;
  border-radius: 25px;
}
.line2{
  margin-top: 1cm;
  margin-left: 10cm;
  margin-right: 10cm;
  color: black;
  border-style: solid;
  height: 50px;
  border-width: 2px;
  border-radius: 25px;
}
.intro {
  font-size: 0.8cm;
  margin-top: 20px;
  margin-left: 10cm;
}
.form1 {
  margin-top: 50px;
  margin-left: 7cm;
  margin-right: 7cm;
}
input {
  width: 100%;
  border-radius: 25px;
  height: 30px;
}
#name {
  margin-top: 20px;
}
#cause {
  margin-top: 20px;
}
#size {
  margin-top: 20px;
}
.p2{
  font-size: 25px;
  margin-left: 10cm;
}
.line3{
  margin-top: 3cm;
  margin-left: 10cm;
  margin-right: 10cm;
  color: black;
  border-style: solid;
  height: 50px;
  border-width: 2px;
  border-radius: 25px;
}
.line4{
  margin-top: 1cm;
  margin-left: 10cm;
  margin-right: 10cm;
  color: black;
  border-style: solid;
  height: 50px;
  border-width: 2px;
  border-radius: 25px;
}
#name{
  margin-top: 20px;
  width: 100%;
  border-radius: 25px;
  height: 30px;
}
#age{
  margin-top: 20px;
  width: 100%;
  border-radius: 25px;
  height: 30px;
}
#power{
  margin-top: 20px;
  width: 100%;
  border-radius: 25px;
  height: 30px;
}
#weakness{
  margin-top: 20px;
  width: 100%;
  border-radius: 25px;
  height: 30px;
}
.greyline{
  border-color: #808B96;
  display: block;
  border-width: 2px;
  height: 3px;
}
.intro {
  margin-top: -30px;
  color: white;
  font-size: 0.7cm;
  font-weight: bold;
  font-family: sans-serif;
}
.intro2 {
  color: black;
  font-size: 0.7cm;
  font-weight: bold;
  font-family: "DINNextW01-CondensedMed";
  letter-spacing: 2px;
  margin-left: 11cm;
  margin-top: 20px;
}
.intro3 {
  color: black;
  font-size: 0.7cm;
  font-weight: bold;
  font-family: "DINNextW01-CondensedMed";
  letter-spacing: 2px;
  margin-left: 11cm;
  margin-top: 20px;
}
a {
  margin-left: 2.8cm;
  font-size: 0.6cm;
  color: red;
}
.footer {
  margin-top: 1cm;
  height: 2cm;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #17202A;
}
.alllist {
  color: black;
  font-size: 0.7cm;
  font-weight: bold;
  font-family: "DINNextW01-CondensedMed";
  letter-spacing: 2px;
  margin-left: 11cm;
  margin-top: 20px;
}
.superman{
  margin-left: 11cm;
}
