<h1>$hero.getName()</h1>
<p>$hero.getAge()</p>
<p>$hero.getPower()</p>
<p>$hero.getWeakness()</p>
<h2>Completed?:  $hero.isCompleted()</h2>

<a href="/heros/new">Add another Hero</a>
<a href="/heros">All Heros</a>
