<div class="header">
  <h1 class="header1">Heros</h1>
  <hr class="greyline">
  <p class="intro">Create your new squad!</p>
</div>
<li><img src='/images/marvel1.jpg' alt='A photo of superheros.' width="1150px"/></li>
<p class="intro2">Would you like to:</p>
<div class="line1">
  <a href="/squads">View Squad List</a>
</div>
<p class="intro3">Or</p>
<div class="line2">
  <a href="/squads/new">Add a New Squad</a>
</div>
<div class="footer">
</div>
