<div class="header">
  <h1 class="header1">Heros</h1>
</div>
<li><img src='/images/marvel1.jpg' alt='A photo of superheros.' width="1150px"/></li>
<div class="line1">
<a href="/squads">View Squad List</a>
</div>
<div class="line2">
<a href="/squads/new">Add a New Squad</a>
</div>
