<div class="header">
  <h1>Success!</h1>
  <hr class="greyline">
</div>
<li class="successphoto"><img src='/images/success2.jpg' alt='A photo of a happy man.' width="500px" height="500px"/></li>
<p class="p2">Your task has been saved to the $squad.getName() squad.</p>

<a href="/squads/$squad.getId()/heros/new">Add a new hero</a>
<a href="/squads">View squads</a>
