<div class="header">
  <h1 class="header1"> Success!</h1>
  <hr class="greyline">
</div>
<li class="successphoto"><img src='/images/success.png' alt='A photo of a happy man.' width="500px" height="500px"/></li>
<p class="p2">Your squad has been saved!</p>
<div class="line1">
  <a href="/squads">View Squads</a>
</div>
