<h1>$squad.getName() heros:</h1>

<ul>
  #foreach($hero in $squad.getHeros())
  <li>$hero.getName()</li>
  #end
</ul>


<a href="/squads/$squad.getId()/heros/new">Add a new hero</a>
<a href="/squads">All squads</a>
