<div class="header">
  <h1 class="header1">All squads</h1>
  <hr class="greyline">
</div>
<p class="alllist">Here are all your squads:</p>
<li class="superman"><img src='/images/superman.jpg' alt='A photo of superheros.' width="400px" height="400px"/></li>

<ul>
  #foreach ($squad in $squads)
    <li><a href="/squads/$squad.getId()">$squad.getName()</a></li>
  #end
</ul>
<div class="line1">
  <a href="/squads/new">Add New Squad</a>
</div>
