<div class="header">
  <h1 class="header1">Success!</h1>
  <hr class="greyline">
</div>
<li class="successphoto5"><img src='/images/success4.jpg' alt='A photo of a happy man.' width="400px" height="400px"/></li>
<p class="p4">Your Hero has been saved.</p>
<div class="line7">
  <a href="/heros">View Heros</a>
</div>
